.page {
    max-width: 1280px; 
    margin: 0 auto; 
    padding: 0 20px;
    background-color: #F5F5F5;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}