.main__text{
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    margin-bottom: 40px;
    
}

.main__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    
}

@media (max-width: 899px) {
    .main__text {
        font-size: 26px; /* menor que desktop */
        margin-bottom: 30px;
    }

    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* menos colunas */
        gap: 15px;
        margin-bottom: 25px;
    }
    .main__cards > *:nth-child(4) {
        display: none;
    }
}

/* --- Celular (~480px) --- */
@media (max-width: 540px) {
    .main__text {
        font-size: 22px; /* ainda menor */
        margin-bottom: 20px;
        text-align: center; /* opcional, para centralizar em telas pequenas */
    }

    .main__cards {
        grid-template-columns: repeat(1, 1fr); /* 1 coluna apenas */
        gap: 10px;
        margin-bottom: 20px;
    }
}