.main__container {
    margin-top: 226px;
}


.main__text {
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    margin-bottom: 40px;

}

.main__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;

}

@media (max-width: 1054px) {
    .main__text {
        font-size: 27px;
        margin-bottom: 30px;
    }

    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 15px;
        margin-bottom: 25px;
    }

    .main__cards>*:nth-child(4) {
        display: none;
    }
}

@media (max-width: 650px) {
    .main__text {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }

    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        gap: 10px;
        margin-bottom: 20px;

    }

    .main__cards>*:nth-child(4) {
        display: none;
    }
}

@media (max-width: 510px) {
    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));


    }

    .main__cards>*:nth-child(2) {
        display: none;
    }
}