@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px); 
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

.card__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: slideIn 0.9s forwards;
}

.card__description {
    margin-top: 12px;
    height: 100px;
    
}

.card__touched{
    color:#a19c9cd8;
    margin:0;
    cursor: pointer;
}
.card__touched:hover{
    color:#1F6FBA;
    transition: 0.4s ease;
}



