.card__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}
.card__description {
    margin-top: 12px;
    height: 100px;
    
}

.card__touched{
    color: blue;
    margin:0
}