.header__container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 6px 8px rgba(127, 192, 255, 1);
    border-radius: 20px;
    height: 120px;
    
}

.header__logo {
    height: 370px;
    width: auto;
    padding-top: 13px;
    text-decoration: none; 
    color: inherit;
}
.header__text {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #000000;
    margin: 0 15px;
    cursor: pointer;
    
}

.header__menu {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #000000;
    margin: 0 15px;
    cursor: pointer;
    position: relative; 
    transition: color 0.3s ease;
    text-decoration: none !important;
    
}
.header__link {
    text-decoration: none; 
    color: inherit;
  }

.header__menu::after {
    content: '';
    position: absolute;
    left: 50%;          
    bottom: 0;
    width: 0%;           
    height: 2px;
    background-color: #1F6FBA;
    transform: translateX(-50%);
    transition: width 0.3s ease; 
}

.header__menu:hover {
    color: #1F6FBA;
}

.header__menu:hover::after {
    width: 100%; 
}

.header__menu,
.header__menu:link,
.header__menu:visited,
.header__menu:hover,
.header__menu:active {
  text-decoration: none !important;
}