.header__container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 6px 8px rgba(127, 192, 255, 1);
    border-radius: 20px;
    height: 120px;
    
}

.header__logo {
    height: 370px;
    width: auto;
    padding-top: 13px;
    text-decoration: none; 
    color: inherit;
}
.header__text {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #000000;
    margin: 0 15px;
    cursor: pointer;
    
}

.header__menu {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #000000;
    margin: 0 15px;
    cursor: pointer;
    position: relative; 
    transition: color 0.3s ease;
    text-decoration: none !important;
    
}
.header__link {
    text-decoration: none; 
    color: inherit;
  }

.header__menu::after {
    content: '';
    position: absolute;
    left: 50%;          
    bottom: 0;
    width: 0%;           
    height: 2px;
    background-color: #1F6FBA;
    transform: translateX(-50%);
    transition: width 0.3s ease; 
}

.header__menu:hover {
    color: #1F6FBA;
}

.header__menu:hover::after {
    width: 100%; 
}

.header__menu,
.header__menu:link,
.header__menu:visited,
.header__menu:hover,
.header__menu:active {
  text-decoration: none !important;
}


@media (max-width: 1064px) {
    .header__container {
        justify-content: center;
        gap: 20px;             /* reduz o espaçamento */
        padding: 15px;
    }

    .header__logo {
        max-height: 237px;
        margin-right:40px;     /* reduz o tamanho da logo */
    }

    .header__text,
    .header__menu {
        font-size: 17px;       /* reduz levemente o texto */
        margin: 8px 10px;
    }
}

@media (max-width: 705px) {

    .header__container {
        justify-content: center;
        gap: 10px;             /* reduz o espaçamento */
        padding: 15px;
    }
    .header__logo {
        margin: 0
        
    }
}

/* --- Celular --- */
@media (max-width: 480px) {
    .header__container {
        flex-direction: column; /* empilha itens */
        align-items: center;
        gap: 15px;
        padding: 10px;
        height: auto;
    }

    .header__logo {
        max-height: 100px;     /* logo ainda menor */
    }

    .header__text,
    .header__menu {
        font-size: 18px;       /* textos menores */
        margin: 5px 0;
    }
}
