.bold {
    font-weight: 700;
    color: #1f6fba; 
  }

.infoSection__container {
    margin-top: 60px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(127, 192, 255, 0.5);
}